/* ----------------------- */
/* Custom Properties */
:root {
  /* Color vlues are prefered to be in HSL or RGB, because these forms allow us to apply calculation on the values and generate new version of them
  hsl( var(--light) / 0.2) ) this equals hsla with alph 0.2 
  */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

}
/* ----------------------- */
/* ----------------------- */
/* Reset                   */
/* ----------------------- */
/* Set Box Sizing for all elements */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove Margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Set Body defaults*/
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form element & buttons easier to work with */
button,
input,
textarea,
select {
  font:inherit;
}
/* Accessibility-Wise */
/* remove animations for users who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------- */
/* Utility Classes         */
/* ----------------------- */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

/* Accessibility-Wise 
  Screen-Reader-Only: it's only for accessitive technologies that read the page for someone who is visually impared. It's only there to help the user figure out page content that does not contain text or depends on visual effects such as buttons. 
  Hide this content visually for sighted users but keep it in the page for screen readers.
*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Colors */
.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent {background-color: hsl( var(--clr-light) );}
.bg-white {background-color: hsl( var(--clr-white) );}

.text-dark {color: hsl( var(--clr-dark) );}
.text-accent {color: hsl( var(--clr-light) );}
.text-white {color: hsl( var(--clr-white) );}